<div class="signup">
  <div class="container">
    <div class="jumbotron">
      <div class="form-group">
        <form class="signup-form" ng-submit="submitSignup()">
          <label>Username</label>
          <input class="form-control" type="text" ng-model="username" placeholder="Username">
          <label>Email</label>
          <input class="form-control" type="text" ng-model="email" placeholder="Email">
          <label>Password</label>
          <input class="form-control" type="password" ng-model="password" placeholder="Password">
          <label>First Name</label>
          <input class="form-control" type="text" ng-model="first_name" placeholder="First Name">
          <label>Last Name</label>
          <input class="form-control" type="text" ng-model="last_name" placeholder="Last Name">
          <small id="emailHelp" class="form-text ">We'll never share your information with anyone else.</small><br>
          <input class="btn btn-default" type="submit" value="Signup">
        </form>
      </div>
    </div>
  </div>
</div>
